<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head profile="http://gmpg.org/xfn/11">
    <title>{% block title %}Some title{% endblock title %}</title>
    <!-- Source File -->
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen,projection"/>
	<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />

	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen,projection"/>

    <!--[if IE]>
    <meta content="off" name="autosize" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
	<link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" />
    <![endif]-->
    
    <link href="/static/images/favicon.png" type="image/png" rel="icon"/>
    <link href="/static/images/favicon.png" type="image/png" rel="shortcut icon"/>
  </head>
  <body>
	<!-- START: wrapper -->
	<div class="container" id="wrapper">
	  
	  <!-- START: header -->
	  <div id="header">
        {% block header %}
		<h1>Header here</h1>
        {% endblock header %}
	  </div><!-- END: header -->
      
	  <!-- START: main-navigation -->
	  <div id="main-navigation">
        {% block navbar %}
		<ul>
		  <li><a href="#">Bla</a></li>
		</ul>
        {% endblock navbar %}
	  </div><!-- END: main-navigation -->
      
	  <!-- START: content -->
	  <div id="content">
        {% block content %}
		<h1>test h1</h1>
		<p>Many people get frustrated when they try to create a web
		  page simply because they don't do any planning. If you jump
		  in and start writing HTML with no plan you may find yourself
		  lost and so will your visitors. Before you start up your
		  computer get out a pencil and some paper. Create a diagram
		  that illustrates how your website will be layed out.</p>
        
		<p>Build your website one page at a time focusing on one
		  topic per page. As you add new content expand your website
		  diagram adding new pages in a logical order. This will make
		  it much easier for you to build your site and for visitors
		  to find their way around. If you follow a plan you will
		  avoid leading viewers to blank pages, dead links or having
		  them run in circles trying to navigate your website. </p>
        {% endblock content %}
	  </div><!-- END: content -->
      
	  <!-- START: footer -->
	  <div id="footer">
        {% block footer %}
		<div class="span-19">
		  <div class="footer-content">left column of footer</div>
		</div>
		<div class="span-5 last">
		  <div class="footer-content">right column of footer</div>
		</div>
        {% endblock footer %}
	  </div><!-- END: footer -->
      
	</div><!-- END: wrapper -->
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
